.full-width {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  .mat-form-field {
    font-family: 'Segoe UI', sans-serif;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #b28dc2;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    border-color: #b28dc2;
  }
  