.mat-dialog-container {
    border-radius: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important; // optional if you want no shadow
  }
  