<div class="flex h-screen bg-gray-100 py-5">
  <!-- Sidebar with dynamic width based on isExpanded state -->
  <aside [ngClass]="isExpanded ? 'w-64' : 'w-20'"
    class="bg-gradient-to-t from-[#9b6fa5] to-[#7a4c8f] text-white flex flex-col p-4 shadow-lg transition-all duration-300">

    <!-- Dashboard header with clickable icon -->
    <h2 class="font-bold mb-6 text-white flex items-center cursor-pointer" (click)="onToggleSidebar()"
    (keydown.enter)="onToggleSidebar()" 
    (keydown.space)="onToggleSidebar()" 
    tabindex="0">
      <span class="material-icons mr-2">dashboard</span>
      <span class="text-2xl" *ngIf="isExpanded">Dashboard</span>
    </h2>

    <nav class="space-y-4">
      <!-- All Panel Members -->
      <a routerLink="/panel-coordinator/all-panelMembers"
        class="flex items-center px-4 py-2 rounded-lg hover:bg-[#9b6fa5] transition">
        <span class="material-icons mr-3">people</span>
        <span *ngIf="isExpanded">All Panel Members</span>
      </a>

      <!-- Map Panel Member -->
      <a routerLink="/panel-coordinator/map-panel-member"
        class="flex items-center px-4 py-2 rounded-lg hover:bg-[#9b6fa5] transition">
        <span class="material-icons mr-3">person_add</span>
        <span *ngIf="isExpanded">Map Panel Member</span>
      </a>

      <!-- Mapped Panel Member -->
      <a routerLink="/panel-coordinator/mapped-panel-member"
        class="flex items-center px-4 py-2 rounded-lg hover:bg-[#7a4c8f] transition">
        <span class="material-icons mr-3">how_to_reg</span>
        <span *ngIf="isExpanded">Mapped Panel Member</span>
      </a>

      <!-- Allocate Panel Window -->
      <a routerLink="/panel-coordinator/allocate-panel-window"
        class="flex items-center px-4 py-2 rounded-lg hover:bg-[#7a4c8f] transition">
        <span class="material-icons mr-3">view_week</span>
        <span *ngIf="isExpanded">Allocate Panel Window</span>
      </a>

      <!-- Panel Windows -->
      <a routerLink="/panel-coordinator/panel-windows"
        class="flex items-center px-4 py-2 rounded-lg hover:bg-[#7a4c8f] transition">
        <span class="material-icons mr-3">window</span>
        <span *ngIf="isExpanded">Panel Windows</span>
      </a>


      <!-- Panel Calendar -->
      <a routerLink="/panel-coordinator/panel-calendar"
        class="flex items-center px-4 py-2 rounded-lg hover:bg-[#7a4c8f] transition">
        <span class="material-icons mr-3">calendar_today</span>
        <span *ngIf="isExpanded">Panel Calendar</span>
      </a>
    </nav>
  </aside>
</div>